.nav-item {
    margin-left: 150px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    margin-left: 90px;
}
.d-flex{
    margin-right: 150px;
}
.container{
    background-image: url('./image/capstonehigh.jpg');
   
    height: 300%;
    width: 150%;
}
.my-image{
    margin-bottom: 115px;
   
    
    
}
.img-fluid-sm{
    padding: 170px;
    margin-left: 320px;
    width: 600px;
}